{{define "buy"}}
{{template "header" .}}
  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Item (Click to buy 1)</th>
        <th>Price (incl. <a href="help">tax</a>)</h>
        <th>Stock <a href="shopkeeping">is this correct?</a></td>
      </thead>
      <tbody>
        {{range .I}}
        <tr>
        <form action="/buy" method="post">
          <td><button class="btn btn-warning" type="submit">{{.Itemname}}</button></td>
        </form>
        <td>${{.Value}}</td>
        <td>{{.Quantity}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

{{template "footer" .}}
{{end}}
