
<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{{ define "header"}}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<title>Healthy Food Store</title>
		<link rel="icon" sizes="192x192" href="assets/images/favicon-192x192.png" type="image/png" />
		<link rel="shortcut icon" href="assets/images/favicon.ico">
  </head>
	<body>
{{end}}

{{ define "body"}}
{{block "login" .}}{{end}}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<i class="fa fa-dollar fa-spin fa-3x fa-fw"></i>
						<h1>Welcome, {{.U.Fname}}</h1>
						<h1>You have ${{.U.Credit}} remaining</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-btc"></span>
							<br>
							<form action="/buy" method="post">
							<button class="btn btn-warning" type="submit">Buy!</button>
						</div>

						<div>
							<span class="icon fa-money"></span>
							<br>
							<form action="/sell" method="post">
							<button class="btn btn-warning" type="submit">Sell!</button>
						</div>

						<div>
							<span class="icon fa-line-chart"></span>
							<br>
							<form action="/admin" method="post">
							<button class="btn btn-warning" type="submit">Settings</button>
						</div>

					</div>

				</div>
			</section>
{{end}}

{{define "footer"}}
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
{{end}}
