{{define "logfiles"}}
{{template "header" .}}
<section id="main" class="wrapper">
  <div class="inner">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Date/Time</th>
            <th>Type</th>
            <th>User</th>
            <th>Dollars</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Tax</th>
            <th>Undo?</th>
          </thead>
          <tbody>
            <form method="post" action="#">
            {{range .T}}
            <tr>
            <td>{{.Timestamp.Format "2006-01-02 15:04:05"}}</td>
            <td>{{.TType}}</td>
            <td>{{.UID}}</td>
            <td>${{.Dollars | printf "%.2f"}}</td>
            <td>{{.Unit}}</td>
            <td>{{.Count}}</td>
            <td>${{.Tax | printf "%.2f"}}</td>
            <td><button class="btn btn-warning" type="submit" value="{{.Timestamp}}" name="transaction-timestamp">Undo</button></td>
            </tr>
            {{end}}
          </form>
          </tbody>
        </table>
      </div>
    </div>
  </section>
{{template "footer" .}}
{{end}}
