{{define "login"}}
<head>
    {{template "header" .}}
</head>
<div class="container">
    <form method="POST" action="/login">
      <h1>Please enter your details:</h1>
        <label class="form-control-label" for="email">Email</label>
        <input class="form-control" type="text" id="email" name="email">
        <label class="form-control-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<div class="container">
  <form  method="POST" action="/signup">
    <h1>Or, if you don't yet have an account:</h1>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </form>
</div>
{{template "footer" .}}
{{end}}
